
body { font-family : "Times New Roman", Times, serif;
      background-color :#fae8ff ; 
     }



h1 { 

color : #78184b ; }
p {font-family :  "Times New Roman", Times, serif;

} p { 
  color : #78184b ;
}

ul { color : #78184b; }
ol {color : #78184b; }

h2 { color : #78184b ; }
