
body { font-family : "Arial, Helvetica", sans-serif;
      background-color :#fae8ff ; 
     }



h1 { 

color : #78184b ; }
p {font-family :  "Times New Roman", Times, serif;

}

h2 { color : #b899bf ; }
